

    body {
    background: linear-gradient(135deg, #f5f1e8, #d8c3a5);
    font-family: 'EB Garamond', serif;
    line-height: 1.6;
    display: flex;              /* Activa el modo flexible */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente */
    min-height: 100vh;          /* Ocupa toda la altura de la pantalla */
    margin: 0;  
    flex-direction: column;
  
    } 

    main {
    max-width: 500px;        /* Que no sea muy ancho en computadoras */
    background: #fffaf2;       /* Fondo blanco */
    padding: 30px;           /* Espacio interno para que no pegue al borde */
    border-radius: 20px;     /* Esquinas redondeadas */
    box-shadow: 0 10px 30px rgba(0,0,0,0.2); /* Sombrita suave */
    text-align: center; /*centratodo lo que este adentro*/
}


#confirmacion {
    display: flex;              /* Activa el modo flexible */
    flex-direction: column;     /* Los pone en columna (uno debajo del otro) */
    align-items: center;        /* Los centra horizontalmente */
    gap: 15px;                 /* Espacio de 15px entre el botón y el enlace */
}

#calendario {
    display: flex;              /* Activa el modo flexible */
    flex-direction: column;     /* Los pone en columna (uno debajo del otro) */
    align-items: center;        /* Los centra horizontalmente */
    gap: 15px;                 /* Espacio de 15px entre el botón y el enlace */
}


#ubicacion {
    display: flex;              /* Activa el modo flexible */
    flex-direction: column;     /* Los pone en columna (uno debajo del otro) */
    align-items: center;        /* Los centra horizontalmente */
    gap: 15px;                 /* Espacio de 15px entre el botón y el enlace */
}

img {
           
    border-radius: 15px;     /* Esquinas redondeadas */
    margin-top: 15px;        /* Separación arriba */
}

button {
    background-color: #6b1f35;; /* Rojo Spiderman */
    color: white;              /* Letras blancas */
    border: none;              /* Quitamos el borde feo por defecto */
    padding: 15px 30px;        /* Tamaño del botón */
    font-size: 18px;           /* Tamaño de letra */
    border-radius: 30px;       /* Bordes redondos */
    cursor: pointer;           /* Manita al pasar el mouse */
    font-weight: bold;
    
}

button:hover {
    background-color: #990000; /* Rojo más oscuro */
}

/* 5. Quitar el subrayado feo del enlace de WhatsApp */
/*a {
    text-decoration: none;     /* Quita el subrayado */
 /*   display: inline-block;     /* Para que se comporte como botón */
   /* margin-top: 15px;          /* Separación */
/*}




/* RECETA: "Aparecer desde abajo" */
@keyframes subirYBailar {
    0% {
        opacity: 0;           /* Invisible */
        transform: translateY(50px); /* 50px abajo */
    }
    60% {
        transform: translateY(-10px); /* Rebota un poco hacia arriba */
    }
    100% {
        opacity: 2;           /* Totalmente visible */
        transform: translateY(0);     /* En su lugar */
    }
}




header, h1 {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px; /* Evita que el texto pegue con los bordes de la pantalla */
    word-wrap: break-word; /* Rompe las palabras largas si es necesario para que no desborden */
}


.logo {
    width: 180px;
    margin-bottom: 15px;
}


h1, h2, p, div, span {
            font-family: 'EB Garamond', serif;
            text-align: center;
        }

h1 {
           font-size: clamp(1.5rem, 5vw, 2.5rem); /* Título principal más grande */
            
        }

        h2 {
            font-size: 1.8rem; /* Títulos de sección más grandes */
            font-weight: 500;
             margin: 0.3rem 0;
        }

        p {
             font-size: 1.1rem;          /* Tamaño legible y elegante para celular */
            margin: 0.4rem 0;
        }

.descanse-en-paz {
            font-style: italic;
            font-size: 1.4rem;
            margin-top: 2rem;
        }
 .info-linea{
            font-size: 1.1rem; /* Títulos de sección más grandes */
             margin: 0.3rem 0;
 }

.linea-transparente {
    border: none;               /* Quitamos el borde por defecto */
    height: 1px;                /* Grosor de la línea */
    background-color: rgba(0, 0, 0, 0.1); /* Color negro con 20% de opacidad */
    margin: 20px 0;             /* Espaciado superior e inferior */
}