body { 
    background: linear-gradient(135deg, #f5f1e8, #d8c3a5);
    background-attachment: fixed;
    min-height: 100vh;  
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #fffaf2;       
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: 0;
}

.contenedor-portada {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px; /* Limita el ancho máximo en pantallas grandes */
}

#portada {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portada img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llena por completo el contenedor sin dejar huecos */
    display: block;
}

#boton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#boton img {
    width: 100px;
    height: auto;
    display: block;
}





