
#buton{
    display: flex;             
    align-items: center;        /* Los centra horizontalmente */
    gap: 15px;     
}



body{ 
background-image: url('../img/nueva_1.jpeg');
background-size:  100% auto;
background-repeat: no-repeat;
background-position: center ;
min-height: 100vh;  
position: relative;
margin: 100px;
}

main{

min-height: 100vh; 
    display: flex;                /* Convertimos el main en contenedor flexible */
    justify-content: center;      /* Centra horizontalmente */
    align-items: center;
}



#boton img  {
  width: 200px ;   /* ajusta el tamaño del botón */
  height: auto;
  display: block;
}
